<h1><%= @restaurant.name %></h1>
    <p><%= @restaurant.description %></p>
    <%= link_to 'View All', restaurants_path %>
    <%= link_to 'Edit restaurant', edit_restaurant_path(@restaurant) %>
    <%= link_to 'Remove restaurant', restaurant_path(@restaurant), method: :delete, data: { confirm: 'Are you sure?' } %>


