<h1>Restaurant page for <%= @restaurant.name %></h1>
    <p><%= @restaurant.description %></p>
    <h4><%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>
    <!-- <h4> <%= link_to 'View All', restaurants_path %> <h4>
    <h4> <%= link_to 'Edit restaurant', edit_restaurant_path(@restaurant) %> <h4>
    <h4> <%= link_to 'Remove restaurant', restaurant_path(@restaurant), method: :delete, data: { confirm: 'Are you sure?' } %> </h4> -->
    <%= @restaurant.reviews.each do |review| %>
      <p><%= review.content %> - <%= review.rating %></p>
    <% end %>


